/* @override http://localhost:8080/BSPPolling/css/style.css */
#chat_box {
	overflow: hidden;
}

.name {
	margin-right: 10px;
	color: #ab5903;
}

h1 {
	color: #e93400;
}

#chat_input {
	width: 100%;
	bottom: 0;
	position: absolute;
	left: 0;
	height: 50px;
	font-size: large;
	background-color: #1b0900;
	color: #cd8f00;
	border: none;
	border-top-style: dotted;
	border-top-color: #774300;
}

body {
	background-color: #1b0900;
	color: #cd8f00;
	font: large "Lucida Grande", Lucida, Verdana, sans-serif;
}

#namebox {
	position: absolute;
	right: 10px;
}

#name_box {
	color:#cd8f00;
	background: none;
	border: 2px dotted #CD8F00;
	padding: 2px;
	margin: 2px;
	margin-left: 5px;
}